<div>
  <h4>
    <strong>Validación</strong>
  </h4>
</div>
<% if @business.status == 2%>
  <div class="alert alert-danger" role="alert">
    Rechazado por <%= User.find(@business.admin_id).fullname %> el <%= simple_date_format(@business.updated_at) %>
  </div>
<% end %>
<% if @business.admin_id.present? && @business.status == 1%>
  <div class="alert alert-success" role="alert">
    Validacion por <%= User.find(@business.admin_id).fullname %> el <%= simple_date_format(@business.updated_at) %>
  </div>
<% else %>
  <%= form_for @business, :url => { :action => 'update_status'}, :html => { id: "update_status_form"} do |form|%>
    <%= form.hidden_field :id, value: @business.id %>
    <%= form.hidden_field :status, value: 0, id: "status_input"%>
    <%= render "helpers/textarea_input", f: form, label: "Comentarios", field: "mail_comment" %>
  <% end %>
  <div class="form-goup row">
    <label class="col-sm-2 form-control-label"></label>
    <div class="col-lg-6 col-md-8 col-sm-10">
        <button type="button" class="btn btn-success" id="validates_business">Validar</button>
        <button type="button" class="btn btn-danger" id="rejects_business">Rechazar</button>
    </div>
      
  </div>
<% end %>