<%= render "helpers/bread", index: businesses_path, iname: "Centros de trabajo", current: "#{@business.name}" %>
<% color = "text-warning" if @business.status == 0 %>
<% color = "text-success" if @business.status == 1 %>
<% color = "text-danger" if @business.status == 2 %>

<section class="card mb-5">
  <div class="card-header py-3 px-3">
    <h4>
      <strong>Centro de trabajo</strong>
    </h4>
  </div>
  <div class="card-body px-3">
    <ul class="nav nav-tabs" id="myIconTab" role="tablist">
      <li class="nav-item">
          <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile_tab" role="tab" aria-controls="homeIcon" aria-selected="true"><i class="nav-icon i-Administrator mr-1"></i>Centro de trabajo</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="demographic-tab" data-toggle="tab" href="#demgraphic_tab" role="tab" aria-controls="profileIcon" aria-selected="false"><i class="nav-icon i-Testimonal mr-1"></i>Representante</a>
      </li>
      <li class="nav-item">
          <a class="<%= color %> nav-link" id="validation-tab" data-toggle="tab" href="#validation_tab" role="tab" aria-controls="profileIcon" aria-selected="false"><i class="nav-icon i-Testimonal mr-1"></i>Validacion</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="feedback-tab" data-toggle="tab" href="#feedback_tab" role="tab" aria-controls="profileIcon" aria-selected="false"><i class="nav-icon i-Testimonal mr-1"></i>Retroalimentación</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="internal-tab" data-toggle="tab" href="#internal_tab" role="tab" aria-controls="profileIcon" aria-selected="false"><i class="nav-icon i-Administrator mr-1"></i>Documentación interna</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="report-tab" data-toggle="tab" href="#report_tab" role="tab" aria-controls="profileIcon" aria-selected="false"><i class="nav-icon i-Administrator mr-1"></i>Reportes</a>
      </li>
    </ul>
    <div class="tab-content" id="myIconTabContent">
      <div class="tab-pane fade show active" id="profile_tab" role="tabpanel" aria-labelledby="profile-tab">
        <%= render 'general_tab' %>
      </div>
      <div class="tab-pane fade" id="demgraphic_tab" role="tabpanel" aria-labelledby="demographic-tab">
        <%= render 'legal_representative_tab' %>
      </div>
      <div class="tab-pane fade" id="validation_tab" role="tabpanel" aria-labelledby="validation-tab">
        <%= render 'validation_tab' %>
      </div>
      <div class="tab-pane fade" id="feedback_tab" role="tabpanel" aria-labelledby="feedback-tab">
        <%= render 'feedback_tab' %>
      </div>
      <div class="tab-pane fade" id="internal_tab" role="tabpanel" aria-labelledby="internal-tab">
        <%= render 'internal_control_tab' %>
      </div>
      <div class="tab-pane fade" id="report_tab" role="tabpanel" aria-labelledby="report-tab">
        <%= render 'reports_tab' %>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
$(document).ready(function(){
  $("#validates_business").click(function(){
        $("#status_input").val(1);
        $("#update_status_form").submit();
    });
    $("#rejects_business").click(function(){
        $("#status_input").val(2);
        $("#update_status_form").submit();
        // alert($("#status_input").val());
    });
  $("#upload_taxes_input").change(function(){
    $("#upload_taxes_form").submit();
  });
  $("#upload_internal_input").change(function(){
    $("#upload_internal_form").submit();
  });
  $("#upload_external_input").change(function(){
    $("#upload_external_form").submit();
  });
  $("#upload_proof_residency_input").change(function(){
    $("#upload_residency_form").submit();
  });
  $("#official_id_input").change(function(){
    $("#official_id_form").submit();
  });
  $("#official_back_id_input").change(function(){
    $("#official_back_id_form").submit();
  });
  $("#notarial_document_input").change(function(){
    $("#notarial_document_form").submit();
  });
  $("#agent_proof_input").change(function(){
    $("#agent_proof_form").submit();
  });
  $("#agent_selfie_input").change(function(){
    $("#agent_selfie_form").submit();
  });
});

</script>


  
