<%= render 'layouts/messages', :obj => resource %>
<%= render 'layouts/errors', :obj => resource %>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class:"sign-box" }) do |f| %>
<div class="sign-avatar">
    <img src="<%= asset_path('home/avatar-sign.png') %>" alt="">
</div>
<header class="sign-title">Reenviar instrucciones de confirmaci贸n</header>
<div class="form-group">
  <%= f.email_field :email, autofocus: true,class:"form-control not-hi",placeholder:"Correo electr贸nico", required:true,  value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
</div>
<div class="form-group">
	<%= f.submit "Reenviar correo de confirmaci贸n",class:"btn btn-primary" %>
	<br>
	<%= link_to "Ir a Iniciar sesi贸n", new_session_path(resource_name), class:"login-link" %>
</div>
<% end %>