<% content_for :head do %>
  <%= stylesheet_link_tag 'data_tables-bundle', media: 'all' %>
<% end %>

<% if current_user.super_user %>  
  <%= render "helpers/new_btn", path: new_admin_path, title: "Nuevo Administrador", top:true %>
<% end %>
 <section class="card text-left">
  <div class="card-body">
    <h4 class="card-title mb-3">Lista de Administradores</h4>  
     <div class="table-responsive">
      <table id="ajax-datatable" class="table_destroy display table table-bordered table-striped" cellspacing="0" width="100%" data-export="listado_administradores" data-source=<%= "/admins.json?current_user=#{current_user}" %> >
        <thead>
          <tr>
            <th data-main="true" data-order="desc" data-name="id">ID</th>
            <th data-name="name">Nombre</th>
            <th data-name="email">Correo electrónico</th>
            <th data-name="status">Estatus</th>
            <th data-name="actions" data-action="true"> ACCIONES </th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
     </div>
    </div>
 </section>

<% if current_user.super_user %>
  <%= render "helpers/new_btn", path: new_admin_path, title: "Nuevo Administrador" %>
<% end %>

 <%= render :partial => 'helpers/data_container', :locals => { :controller => 'admins', :name => "Administrador", :gender => "M" } %>

 <% content_for :post_section do %>
    <%= javascript_include_tag "index_tables-bundle" %>
  <% end %>