<div class="row">
  <% @applicant_reports.each do |report|%>
    <div class="card my-3 mx-2 col-lg-3 col-12 col-md-6">
      <div class="card-body">
        <p class="text-primary"><strong><%= report.title%></strong></p>
        <p><%= report.comment %></p>
        <p><strong class="text-primary">Fecha: </strong><%= simple_date_format(report.created_at) %></p>
        
        <%= link_to "Ver reporte" , report , class: "btn btn-primary" %>
        
      </div>
    </div>
  <% end %>
</div>
<hr>
<h4>Nuevo reporte</h4>
<%= form_for @applicant_report, :url =>{:action => 'create_applicant_report'} do |f| %>
  <%= render "helpers/text_input", f: f, label: "Reporte", field: "title" %>
  <div class="form-group row">
    	<label class="col-sm-2 form-control-label">Centro de trabajo</label>
    <div class="col-lg-6 col-md-8 col-sm-10">
        <p class="form-control-static"><input type="text" readonly class="form-control" value="<%= Applicant.find(@applicant_report.applicant_id).name %>" >
      <%= f.hidden_field :applicant_id, value: @applicant_report.applicant_id%>
    </div>
  </div>
  <%= render "helpers/text_input", f: f, label: "Comentarios", field: "comment" %>
  <%= render "helpers/input_file_search_sm", f: f, id: "report_img", field: "report_img", label: "Foto del reporte" %>
  <%= render "helpers/input_file_search_sm", f: f, id: "payment_img", field: "payment_img", label: "Foto del pago" %>
  
  
  <div class="actions">
    <%= f.submit "Guardar", class: "btn btn-success"%>
  </div>
<% end %>