<%= render "helpers/bread", index: applicants_path, iname: "Lista de Becarios", current: "#{@applicant.name}" %>
<% color = "text-warning" if @applicant.status == 0 %>
<% color = "text-success" if @applicant.status == 1 %>
<% color = "text-danger" if @applicant.status == 2 %>
<section class="card mb-5">
  <div class="card-header py-3 px-3">
    <h4>
      <strong>Becario</strong>
    </h4>
  </div>
  <div class="card-body px-3">
    <ul class="nav nav-tabs" id="myIconTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile_tab" role="tab" aria-controls="homeIcon" aria-selected="true"><i class="nav-icon i-Administrator mr-1"></i>Perfil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="demographic-tab" data-toggle="tab" href="#demgraphic_tab" role="tab" aria-controls="profileIcon" aria-selected="false"><i class="nav-icon i-Testimonal mr-1"></i> Documentos</a>
        </li>
        <li class="nav-item">
          <a class="<%= color %> nav-link" id="validation-tab" data-toggle="tab" href="#validation_tab" role="tab" aria-controls="profileIcon" aria-selected="false"><i class="nav-icon i-Testimonal mr-1"></i>Validacion</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="internal-tab" data-toggle="tab" href="#internal_tab" role="tab" aria-controls="profileIcon" aria-selected="false"><i class="nav-icon i-Administrator mr-1"></i>Documentación interna</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="report-tab" data-toggle="tab" href="#report_tab" role="tab" aria-controls="profileIcon" aria-selected="false"><i class="nav-icon i-Administrator mr-1"></i>Reportes</a>
      </li>
    </ul>
    <div class="tab-content" id="myIconTabContent">
      <div class="tab-pane fade show active" id="profile_tab" role="tabpanel" aria-labelledby="profile-tab">
        <%= render "general_tab"%>
      </div>
      <div class="tab-pane fade" id="demgraphic_tab" role="tabpanel" aria-labelledby="demographic-tab">  
        <%= render "documents_tab"%>
      </div>
      <div class="tab-pane fade" id="validation_tab" role="tabpanel" aria-labelledby="validation-tab">
        <%= render 'validation_tab' %>
      </div>
      <div class="tab-pane fade" id="internal_tab" role="tabpanel" aria-labelledby="internal-tab">
        <%= render 'internal_control_tab' %>
      </div>
      <div class="tab-pane fade" id="report_tab" role="tabpanel" aria-labelledby="report-tab">
        <%= render 'reports_tab' %>
      </div>
      
    </div>
</section>
<script type="text/javascript">
$(document).ready(function(){
    $("#validates_applicant").click(function(){
        $("#status_input").val(1);
        $("#update_status_form").submit();
    });
    $("#rejects_applicant").click(function(){
        $("#status_input").val(2);
        $("#update_status_form").submit();
        // alert($("#status_input").val());
    });
  $("#upload_ine_id_input").change(function(){
    $("#upload_ine_id_form").submit();
  });
  $("#upload_cedule_id_input").change(function(){
    $("#upload_cedule_id_form").submit();
  });
  $("#upload_address_proof_input").change(function(){
    $("#upload_address_proof_form").submit();
  });
  
  
  
});

</script>


  
