<%= render "helpers/bread", index: applicants_path, iname: "Lista de Becarios", current: "#{@applicant.name}" %>

<section class="card">
  <div class="card-header py-3 px-3">
    <h4>
      <strong>Becario</strong>
    </h4>
  </div>
  <div class="card-body px-3">
  <%= render "helpers/panel_header_edit_destroy", edit: edit_applicant_path(@applicant), title: "" %>
  <%= render "helpers/text_row", n: "Nombre completo" , v: @applicant.name %>
  <%= render "helpers/text_row", n: "Fecha de nacimiento" , v: @applicant.birthday %>
  <p><strong>Domicilio</strong></p>
  <%= render "helpers/text_row", n: "Calle" , v: @applicant.street %>
  <%= render "helpers/text_row", n: "Numero exterior" , v: @applicant.number %>
  <%= render "helpers/text_row", n: "Colonia" , v: @applicant.colony %>
  <%= render "helpers/text_row", n: "Municipio" , v: City.find(@applicant.city_id).name if @applicant.city_id.present? %>
  <%= render "helpers/text_row", n: "Estado" , v: State.find(@applicant.state_id).name if @applicant.state_id.present? %>
  <%= render "helpers/text_row", n: "Código postal", v: @applicant.zip_code %>

  <p><strong>Datos becario</strong></p>
  <%= render "helpers/text_row", n: "Clave de Elector", v: @applicant.id_code %>
  <%= render "helpers/text_row", n: "CURP", v: @applicant.curp_code %>
  <%= render "helpers/text_row", n: "Telefono celular", v: @applicant.phone %>
  <%= render "helpers/text_row", n: "Correo electrónico", v: @applicant.email %>
  <%= render "helpers/text_row", n: "Perfil de Facebook", v: @applicant.social_profile %>
  <%= render "helpers/text_row", n: "Nivel de estudios", v: @applicant.school_grade %>
  <%= render "helpers/text_row", n: "Institución Académica de últimos estudios", v: @applicant.school %>
  <%= render "helpers/text_row", n: "Fecha de término de Estudios", v: @applicant.finish_date %>
  
  <%= render "helpers/text_row", n: "Nombre de algún familiar", v: @applicant.familiar_fullname %>
  <%= render "helpers/text_row", n: "Parentezco con el familiar", v: @applicant.familiar_relationship %>
  <%= render "helpers/text_row", n: "Teléfono del familiar", v: @applicant.familiar_phone %>
  <%= render "helpers/text_row", n: "Comentarios", v: @applicant.comments %>


  <p><strong>Documentos del becario</strong></p>
  <div class="row">
    <div class="col-12 col-md-6 col-xl-3 d-flex justify-content-center">
      <%= form_for @applicant, id: "upload_ine_id_img_form" , :url => { :action => 'upload_ine_id_img'}, :html => { id: "upload_ine_id_form"} do |form|%>
        <%= form.hidden_field :id, value: @applicant.id%>
        <%= form.file_field :ine_id, id: "upload_ine_id_input", class: "form-control", hidden: "true" %>
      <% end %>
      <% if @applicant.ine_id.attachment.nil? %>
        <div class="fm-file missing">
          <div class="fm-file-icon">
            <img src="<%= asset_path('theme/system/icons/no-file.png') %>" alt="">
          </div>
          <div class="fm-file-name">INE (Ambos lados)</div>
          <div class="fm-file-size"><button type="button" class="mt-5 btn btn-primary" onclick="$('#upload_ine_id_input').click()" id="upload_ine_id_img"> Cargar imagen</button></div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-12">
            <%= render "helpers/file_info", doc: @applicant.ine_id, title: "INE (ambos lados)", download:true %>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <button type="button" class="my-3 btn btn-primary" onclick="$('#upload_ine_id_input').click()" id="upload_ine_id_img"> 
              Cambiar imagen
            </button>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-md-6 col-xl-3 d-flex justify-content-center">
      <%= form_for @applicant, id: "upload_cedule_id_img_form" , :url => { :action => 'upload_cedule_id_img'}, :html => { id: "upload_cedule_id_form"} do |form|%>
        <%= form.hidden_field :id, value: @applicant.id%>
        <%= form.file_field :cedule_id, id: "upload_cedule_id_input", class: "form-control", hidden: "true" %>
      <% end %>
      <% if @applicant.cedule_id.attachment.nil? %>
        <div class="fm-file missing">
          <div class="fm-file-icon">
            <img src="<%= asset_path('theme/system/icons/no-file.png') %>" alt="">
          </div>
          <div class="fm-file-name">CURP</div>
          <div class="fm-file-size"><button type="button" class="mt-5 btn btn-primary" onclick="$('#upload_cedule_id_input').click()" id="upload_cedule_id_img"> Cargar imagen</button></div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-12">
            <%= render "helpers/file_info", doc: @applicant.cedule_id, title: "CURP", download:true %>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <button type="button" class="my-3 btn btn-primary" onclick="$('#upload_cedule_id_input').click()" id="upload_cedule_id_img"> 
              Cambiar imagen
            </button>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-md-6 col-xl-3 d-flex justify-content-center">
      <%= form_for @applicant, id: "upload_address_proof_img_form" , :url => { :action => 'upload_address_proof_img'}, :html => { id: "upload_address_proof_form"} do |form|%>
        <%= form.hidden_field :id, value: @applicant.id%>
        <%= form.file_field :address_proof, id: "upload_address_proof_input", class: "form-control", hidden: "true" %>
      <% end %>
      <% if @applicant.address_proof.attachment.nil? %>
        <div class="fm-file missing">
          <div class="fm-file-icon">
            <img src="<%= asset_path('theme/system/icons/no-file.png') %>" alt="">
          </div>
          <div class="fm-file-name">Comprobante de domicilio</div>
          <div class="fm-file-size"><button type="button" class="mt-5 btn btn-primary" onclick="$('#upload_address_proof_input').click()" id="upload_address_proof_img"> Cargar imagen</button></div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-12">
            <%= render "helpers/file_info", doc: @applicant.address_proof, title: "Comprobante de domicilio", download:true %>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <button type="button" class="my-3 btn btn-primary" onclick="$('#upload_address_proof_input').click()" id="upload_address_proof_img"> 
              Cambiar imagen
            </button>
          </div>
        </div>
      <% end %>
    </div>
</section>
<section class="card my-4">
  <div class="card-header py-3 px-3">
    <h4>
      <strong>Validación</strong>
    </h4>
  </div>
  <div class="card-body px-3">
  <% if @applicant.status == 2%>
    <div class="alert alert-danger" role="alert">
      Rechazado por <%= User.find(@applicant.admin_id).fullname %> el <%= @applicant.updated_at%>
    </div>
  <% end %>
  <% if @applicant.admin_id.present? && @applicant.status == 1%>
    <div class="alert alert-success" role="alert">
      Validacion por <%= User.find(@applicant.admin_id).fullname %> el <%= @applicant.updated_at%>
    </div>
  <% else %>
    <%= form_for @applicant, :url => { :action => 'update_applicant_status'}, :html => { id: "update_status_form"} do |form|%>
      <%= form.hidden_field :id, value: @applicant.id %>
      <%= form.hidden_field :status, value: 0, id: "status_input"%>
      <%= render "helpers/textarea_input", f: form, label: "Comentarios", field: "mail_comment" %>
    <% end %>
    <div class="form-goup row">
      <label class="col-sm-2 form-control-label"></label>
      <div class="col-lg-6 col-md-8 col-sm-10">
          <button type="button" class="btn btn-success" id="validates_applicant">Validar</button>
          <button type="button" class="btn btn-danger" id="rejects_applicant">Rechazar</button>
      </div>
        
    </div>
  <% end %>
    
  </div>
</section>
<script type="text/javascript">
$(document).ready(function(){
    $("#validates_applicant").click(function(){
        $("#status_input").val(1);
        $("#update_status_form").submit();
    });
    $("#rejects_applicant").click(function(){
        $("#status_input").val(2);
        $("#update_status_form").submit();
        // alert($("#status_input").val());
    });
  $("#upload_ine_id_input").change(function(){
    $("#upload_ine_id_form").submit();
  });
  $("#upload_cedule_id_input").change(function(){
    $("#upload_cedule_id_form").submit();
  });
  $("#upload_address_proof_input").change(function(){
    $("#upload_address_proof_form").submit();
  });
  
  
  
});

</script>


  
