<% id ||= 0 %>
<% blank ||= false %>
<% verb ||= "edit" %>

  <button type="button" class="tabledit-view-button btn btn-info" 
    onclick="MvhmpjkgasdQgl($(this))" data-id=<%= "#{id}" %> data-blank=<%= "#{blank}" %> >
    <i class="nav-icon i-Eye1 font-weight-bold"></i>
  </button>
  <button type="button" class="tabledit-edit-button btn btn-info"
    onclick="xxvkSdfDkbd($(this))" data-id=<%= "#{id}" %> data-verb=<%= "#{verb}" %> >
    <i class="nav-icon i-Pen-2 font-weight-bold"></i>
  </button>
  <button type="button" class="tabledit-delete-button btn btn-info"
     onclick="WxlBcodAzjsadW($(this))" data-id=<%= "#{id}" %> >
    <i class="nav-icon i-Close-Window font-weight-bold"></i>
  </button>

